// Current Weather Section
.main {
  width: 100%;
  flex: 0 0 70%;
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;

  // @media screen and (min-width: $tablet-breakpoint) {        // PROBABLY DELETE
  //   width: 100%;
  //   flex: 1 1 70%;
  // }
  @media screen and (min-width: $desktop-breakpoint) {
    flex: 1 1 60%;
    height: 100%;
  }
}

.current h1 {
	// font-size: 10rem;
	margin: 1.6rem 0 1rem 0;;
}

// .current h3 {
// 	font-size: 2.4rem;
// }

.summary {
	transform: translateY(-20px);
	opacity: 0;
	transition: all 5s ease 3s;
}

.ready .summary {
	animation: fadeIn 1s ease 1000ms forwards;
}

.current-temp {
	transform: translateY(-20px);
	opacity: 0;
	transition: all 5s ease 3s;
}

.ready .current-temp {
	animation: fadeIn 1s ease 800ms forwards;
}

.details {
	display: flex;
	justify-content: space-between;
	transform: translateY(-20px);
	opacity: 0;
	transition: all 5s ease 3s;
}

// .details h2 {
// 	font-size: 4.2rem;
// }

.ready .details {
	animation: fadeIn 1s ease 600ms forwards;
}

@keyframes fadeIn{
	100% {
		transform: translate(0px);
		opacity: 1;
	}
}
