.main {
  width: 100%;
  flex: 0 0 70%;
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $tablet-breakpoint) {
    width: 100%;
    flex: 1 1 60%;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    flex: 1 1 60%;
    height: 100%;
  }
}

.summary {
	font-size: 3rem;
	font-weight: 400;
	transform: translateY(-20px);
	opacity: 0;
	
  @media screen and (min-width: $tablet-breakpoint) {
		font-size: 3.2rem;
  }
  
  @media screen and (min-width: $desktop-breakpoint) {
		font-size: 3.4rem;
	}
}

.ready .summary {
	animation: fadeIn 1s ease 1000ms forwards;
}

.current-temp {
	font-size: 10rem;
	margin: 1.6rem 0 1rem 0;
	transform: translateY(-20px);
	opacity: 0;
	
  @media screen and (min-width: $tablet-breakpoint) {
		font-size: 12rem;
  }
  
  @media screen and (min-width: $desktop-breakpoint) {
		font-size: 14rem;
	}
}

.ready .current-temp {
	animation: fadeIn 1s ease 800ms forwards;
}

.details {
	font-size: 2.4rem;
	font-weight: 400;
	display: flex;
	justify-content: space-between;
	transform: translateY(-20px);
	opacity: 0;
	
  @media screen and (min-width: $tablet-breakpoint) {
		font-size: 2.6rem;
  }
  
  @media screen and (min-width: $desktop-breakpoint) {
		font-size: 2.8rem;
	}
}

.details h3 {
	font-weight: 400;
}

.high-low span{
	border-right: solid 2px $text;
	margin: .4rem;
}

.details .wi-strong-wind {
font-size: 1.8rem;
}

.ready .details {
	animation: fadeIn 1s ease 600ms forwards;
}

@keyframes fadeIn{
	100% {
		transform: translate(0px);
		opacity: 1;
	}
}

.powered-by {
font-size: 1.2rem;
color: rgba(0, 0, 0, 0.3);
// color: $bgAlt2;
margin-top: 1.2rem;
transform: translateY(-20px);
opacity: 0;

	@media screen and (min-width: $tablet-breakpoint) {
		font-size: 1.4rem;
		margin-top: 1.4rem;
  }
  
  @media screen and (min-width: $desktop-breakpoint) {
		font-size: 1.6rem;
		margin-top: 1.6rem;
	}
}

.powered-by a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.4);
	// color: $bgAlt2;
	transition: color 250ms;

	&:hover{
		color: rgba(255, 255, 255, 0.8);
	}
}

.ready .powered-by {
	animation: fadeIn 1s ease 600ms forwards;
}
