.forecast {
  width: 100%;
  flex: 0 0 30%;
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  @media screen and (min-width: $tablet-breakpoint) {
    width: 100%;
    flex: 1 1 40%;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    flex: 1 1 40%;
    height: 100%;
    flex-direction: column;
  }
}

.day-container {
  background: $bgAlt1;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  padding: 0.6rem;
  margin-right: $xs-size;
  flex: 1 1 14%;
  display: flex;
  flex-flow: column nowrap;
  transform: translateY(50vh);
  opacity: 0;

  @media screen and (min-width: $tablet-breakpoint) {
    margin-right: $s-size;
    padding: $s-size;
  }
  
  @media screen and (min-width: $desktop-breakpoint) {
    margin-bottom: $s-size;
    margin-right: 0;
    padding: $m-size;
    
  }
}

.day-container:last-child {
  margin-right: 0;
  
  @media screen and (min-width: $tablet-breakpoint) {
    margin-right: 0;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    margin-bottom: 0;
  }
}

.ready .day-container {
  animation: popUp 1000ms cubic-bezier(0.4, 1.38, 0.79, 1.02) forwards;
}

@for $i from 1 through 7 {
    .ready .day-container:nth-child(#{$i}) {
      animation-delay: 100ms * $i + 800ms;
    }
  }

@keyframes popUp{
	100% {
		transform: translate(0px);
		opacity: 1;
	}
}

.date-heading {
  font-size: 1.2rem;
  margin-bottom: $xs-size;

  @media screen and (min-width: $tablet-breakpoint) {
    font-size: 2.2rem;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    text-align: left;
  }
}

.daily-forecast {
  font-size: 1.1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media screen and (min-width: $tablet-breakpoint) {
    font-size: 2.2rem;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    font-size: 2.4rem;
    flex-direction: row;
  }
}

.daily-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: $desktop-breakpoint) {
   flex-direction: row; 
  }
}

.daily-temp p {
  padding: .3rem;

  @media screen and (min-width: $desktop-breakpoint) {
   flex-direction: row; 
  }
}

.daily-temp p:first-child {
  border-bottom: solid 1px $text;
  
  @media screen and (min-width: $desktop-breakpoint) {
    border-bottom: none;
    border-right: solid 1px $text;
  }
}

.daily-forecast .wi {
  font-size: 1.6rem;

  @media screen and (min-width: $tablet-breakpoint) {
    font-size: 3.2rem;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    font-size: 3.6rem;
  }
}
