// @import url('https://fonts.googleapis.com/css?family=Crimson+Text|Raleway'); // Not currently using. Find new font or delete!

// Colors
$text: #fff;
$bgAlt1: rgba(255, 255, 255, 0.2);
$bgAlt2: rgba(0, 0, 0, 0.2);

// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.2rem;

// Breakpoints
$tablet-breakpoint: 48rem; // 768
$desktop-breakpoint: 64rem; // 1024