// @import url('https://fonts.googleapis.com/css?family=Crimson+Text|Raleway'); // Not currently using. Find new font or delete!

// Colors
$text: #fff;

$night1: rgba(92, 102, 167, 1);
$night2: rgba(111, 84, 133, 1);
$night3: rgba(33, 41, 86, 1);

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.2rem;

// Breakpoints
$tablet-breakpoint: 48rem; // 768
$desktop-breakpoint: 66rem; // 1056