.unit-selector {
	position: fixed;
	top: $l-size;
	left: $l-size;
	height: $xl-size;
	width: $xl-size;
	border-radius: 50%;
	text-align: center;
	line-height: $xl-size;
	background: $bgAlt2;
	cursor: pointer;
	transition: all 200ms;
}

.unit-selector:hover {
	background: rgba(0, 0, 0, 0.4);
}

// triangle and bubble
.tooltip:before, .tooltip:after {
  position: absolute;
  top: 50%;
  // left: 50%;
  opacity: 0;
  transition: all ease 0.3s;
  pointer-events: none;
}

// triangle of tooltip
.tooltip:before {
  content: "";
  border-width: 6px 8px 6px 0px;
  border-style: solid;
  border-color: transparent $bgAlt2 transparent transparent;
  margin-top: -6px;
  left: 35px;
}

// bubble
.tooltip:after {
  content: attr(data-tooltip);
  color: #eee;
  background: $bgAlt2;
  left: 43px;
  font-size: $s-size;
  min-width: 100px;
  // margin-top: 50px;
  border-radius: 5px;
  transform: translateY(-50%);
}

/* Hover Effects */
.tooltip:hover:before, .tooltip:hover:after {
  opacity: 1;
}
